<div class="register">
  <mat-card appearance="outlined" class="register__card">
    <mat-card-header class="register__card__header">
      <mat-card-title> რეგისტრაცია</mat-card-title>
    </mat-card-header>

    <mat-card-content class="register__card__body">
      <form class="register__card__body__form" [formGroup]="form">
        <mat-form-field appearance="outline">
          <mat-label for="userName">მომხმარებლის სახელი</mat-label>
          <input matInput formControlName="userName"/>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="email">მეილი</mat-label>
          <input matInput type="email" formControlName="email"/>
          <mat-hint align="start"><strong> უნდა შეიცავდეს სიმბოლოს &#64; </strong></mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="password">პაროლი</mat-label>
          <input matInput type="password" formControlName="password"/>
          <mat-hint align="start"><strong> პაროლი უნდა შეიცავდეს მინიმუმ 6 სიმბოლოს </strong></mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="password">გაიმეორეთ პაროლი</mat-label>
          <input matInput type="password" formControlName="repeatPassword"/>
          <mat-hint align="start"><strong> აუცილებლად უნდა დაემთხვეს მითითებულ პაროლს </strong></mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="entityNo">პირადი ნომერი</mat-label>
          <input matInput formControlName="entityNo"/>
          <mat-hint align="start"><strong> პირადი ნომერი უნდა შეიცავდეს 11 რიცხვს </strong></mat-hint>
        </mat-form-field>

      </form>
    </mat-card-content>

    <mat-card-actions [align]="'end'" class="register__card__footer">
      <button [disabled]="form.invalid" (click)="onSubmit()" mat-button>
        რეგისტრაცია
      </button>
    </mat-card-actions>
  </mat-card>
</div>
