<div class="login">
  <mat-card appearance="outlined" class="login__card">
    <mat-card-header class="login__card__header">
      Log in
    </mat-card-header>

    <mat-card-content class="login__card__body">
      <form class="login__card__body__form" [formGroup]="form">
        <mat-form-field appearance="outline">
          <mat-label for="email">email</mat-label>
          <input matInput type="email" formControlName="email"/>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="password">Password</mat-label>
          <input matInput type="password" formControlName="password"/>
        </mat-form-field>
      </form>
    </mat-card-content>

    @if(loadingState === 'LOADING'){
    <div class='spinner-wrapper'>

    <app-generic-loading
    [state]="loadingState">

    </app-generic-loading>
    </div>
    }
    @if(loadingState === 'ERROR'){
    <div class='spinner-wrapper'>
    {{errorMessage}}
    </div>
    }

    <mat-card-actions [align]="'end'" class="login__card__footer">
      <button (click)="onRegister()" mat-button>Register</button>
      <button
        [color]="'primary'"
        [disabled]="form.invalid"
        (click)="onSubmit()"
        mat-button
      >
        Log in
      </button>
    </mat-card-actions>
  </mat-card>
</div>
