.custom-accordion {
  mat-expansion-panel {
    margin: 1rem;

    mat-expansion-panel-body {
      min-width: 100%;
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: max-content;
    }
  }
}
.header {
  display: flex;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}
