.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .left-side-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
