.card-wrapper {
  width: 100%;
  height: 100%;
}

.body {
  height: 600px;
  width: 80vw;
}

.header {
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
