<div class="cards-wrapper">
  <mat-card>
    <mat-card-content class="dashboard-main-content">
      <mat-card class="left-side">
        <app-shared-date-filters
          (onStartDate)="getStartDate($event)"
          (onEndDate)="getEndDate($event)"
          (onSubject)="getSubject($event)"
        >

        </app-shared-date-filters>
        <app-subjects-segmentation
          (selectedSubject)="getSelectedSubject($event)">

        </app-subjects-segmentation>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
