<div>
  <div class="table-wrapper">
    <table mat-table #studentsTable [dataSource]="dataSource" class="demo-table">
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]='column' [sticky]="column === 'id'">
        <mat-header-cell *matHeaderCellDef> {{column | transformColumnNamesPipe}} </mat-header-cell>
        <mat-cell (click)="getStudent(element)"
                  *matCellDef="let element"> {{element?.[column] |transformRowNamesPipe }} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
  </div>

  <mat-paginator #studentsPaginator="matPaginator"
                 [pageSizeOptions]="[5, 10, 20]"
                 [pageSize]="10"
                 showFirstLastButtons
                 aria-label="მონიშნე გვერდი">
  </mat-paginator>
</div>
